.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-data/**
*.sh
.venv/**
venv/**
.git/**
node_modules/**
**/__pycache__/**
**/*.pyc